<!DOCTYPE html>
<html>
	<head>
		<title>Forward.JS</title>
		<%- include (`${displayPath}/resources/views/layout/${displayLayoutName}/proc.ejs`) %>
		
	</head>
	<body>
		<div class="wrapper">
			<header>
				<%- include (`${displayPath}/resources/views/layout/${displayLayoutName}/head.ejs`, {displayLayoutName: displayLayoutName}) %>
			</header>
			<div class="sub_page">
				<%- include (displayViewPath, params) %>
			</div>
			<footer>
				<%- include (`${displayPath}/resources/views/layout/${displayLayoutName}/foot.ejs`) %>
			</footer>
		</div>
	</body>
</html>